<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Steps</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th th:text="${headers.name}">Name</th>
        <th th:text="${headers.price}">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="prod: ${products}">
        <td th:text="${prod.name}">Oranges</td>
        <td th:text="${#numbers.formatDecimal(prod.price, 1, 2)}"></td>
    </tr>
    </tbody>
</table>
<img th:src="@{/img/forever.png}"/>
</body>
</html>
