<!doctype html>
<html xmlns:th="https://www.thymeleaf.org"
      lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>

    <body>
        2.customer
        <form method="post">
            <input type="text" th:value="${cd.firstname}" name="firstname"><br>
            <input type="text" th:value="${cd.lastname}" name="lastname"><br>
            <a href="booking">back</a>
            <input type="submit" value="3.payment">
        </form>
    </body>

</html>
