<!doctype html>
<html xmlns:th="https://www.thymeleaf.org"
      lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>

    <body>
        5.confirmed
        <p th:text="${cd.seat}"></p>
        <p th:text="${cd.firstname}"></p>
        <p th:text="${cd.lastname}"></p>
        <p th:text="${cd.cardno}"></p>
    </body>

</html>
